
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<h1>Yeni Kategori Kelme Sayfası</h1>
<br />
Hoş Geldiniz

<form class="form-group" method="post">
    <label>Kategori Adı</label>
    <input type="text" name="CategoryName" class="form-control" placeholder="KategoriAdı.." required/>
    <br />
    <label>Kategori Açıklama</label>
    <input type="text" name="CategoryDescription" class="form-control"  placeholder="KategoriAçıklama.." required />
    <br />
    <input type="submit" class="btn btn-primary" value="Kaydet" /> 
</form>